.container{
    padding-top: 70px;
}

.profile{
    /*display: flex;
	padding-top: 70px;
	padding-bottom: 15px;
	width: 100%;*/
	padding-top: 70px;
}

.form-signup {
	max-width: 500px;
	padding: 19px 29px 29px;
	margin: auto;
	background-color: #fcf8e3;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

.form-signup .form-signup-heading,.form-signup .checkbox {
	margin-bottom: 10px;
}

.form-signup input[type="text"],.form-signup input[type="password"],.form-signup input[type="number"] {
	font-size: 13px !important;
	height: auto;
	margin-bottom: 10px !important;
	padding: 7px 9px;
	width: 100%;
}

.form-profile {
	width: 50%;
    padding: 19px 29px 29px;
    margin: 15px auto auto auto;
    background-color: #fcf8e3;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgb(0 0 0 / 5%);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 2px rgb(0 0 0 / 5%);
}

.form-profile .form-profile-heading,.form-profile .checkbox {
	margin-bottom: 10px;
}

.form-profile input[type="text"],.form-profile input[type="password"] {
	font-size: 13px !important;
	height: auto;
	margin-bottom: 10px !important;
	padding: 7px 9px;
	width: 100%;
}

.form-room {
	width: 50%;
    padding: 19px 29px 29px;
    margin: 15px auto auto auto;
    background-color: #fcf8e3;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgb(0 0 0 / 5%);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 2px rgb(0 0 0 / 5%);
}

.form-room .form-room-heading,.form-room .checkbox {
	margin-bottom: 10px;
}

.form-room input[type="text"],.form-room input[type="password"],.form-room input[type="number"] {
	font-size: 13px !important;
	height: auto;
	margin-bottom: 10px !important;
	padding: 7px 9px;
	width: 100%;
}

.form-list-room {
    width: 60%;
    padding: 19px 29px 29px;
    margin: 15px auto auto auto;
    background-color: #fcf8e3;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgb(0 0 0 / 5%);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 2px rgb(0 0 0 / 5%);
}

.form-list-room .form-list-room-heading,.form-list-room .checkbox {
	margin-bottom: 10px;
}

.form-list-room input[type="text"],.form-list-room input[type="password"],.form-list-room input[type="number"] {
	font-size: 13px !important;
	height: auto;
	margin-bottom: 10px !important;
	padding: 7px 9px;
	width: 100%;
}