@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #ffffff;
	padding-bottom: 30px;
	font-family: 'Montserrat', sans-serif;
	/*font-size: 1.4em;*/
    font-size: 14;
	line-height: 1.3;
}

#full-screen-background-image {
	z-index: -999;
	min-height: 100%;
	min-width: 1024px;
	width: 100%;
	height: auto;
	position: fixed;
	top: 0;
	left: 0;
}

#primary-navigation {
	font-size: 0.7em;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	padding-left: 1em;
	position: absolute;
	top: 10px;
	right: 5px;
}

#primary-navigation a {
	display: inline-block;
	padding-bottom: 3px;
	color: #fff;
	text-decoration: none;
	border-bottom: 3px solid transparent;
	transition: border .2s ease-in-out;
}

#primary-navigation .current a, #primary-navigation a:hover, .about #primary-navigation .about a,
	.contact #primary-navigation .contact a, .folio #primary-navigation .folio a,
	.news #primary-navigation .news a {
	border-bottom: 3px solid #fff !important;
}

#primary-navigation .home {
	margin-bottom: -25px;
}

#primary-navigation li {
	display: inline-block;
	margin: 0 1.0em;
	padding: 0 2px;
	vertical-align: middle;
}

#primary-navigation .home img {
	display: block;
}

img {
	border: none;
}

/*a, a:hover, a:visited {
	color: #dddddd;
}*/

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}


flickr{
  top : 10px;
  left : 5px;
  position : absolute;
  font-size: 0.6em;
  color : #dddddd;
  text-align: left;
}

flickr img{
  opacity: 0.5;
  width: 70px;
  margin-bottom: 5px;
}

.disclaimer {
    color: floralwhite;
    border: chocolate;
    background: black;
    border-radius: 5px;
    padding: 5px;
    opacity: 0.8;
}