.room {
	margin-right: auto; 
	margin-left: auto; 
	/*width: 90%;*/
	margin-top: 40px;
	padding : 40px;
	background-color: white;
	/* border-radius */
	border-radius: 5px;
	/* box-shadow */
	box-shadow: rgba(0,0,0,0.8) 0 0 10px;
	border-collapse: collapse;
	/*font-size:15px;*/
	text-transform: uppercase;
	height: 100%;
}

	.container{
		position: relative;
		width: auto!important;
		height: 55%;
	}
	
	.toolbox{
		text-align: -webkit-center;
		color: #000;
	}
	
	.toolbox h3{
		font-size: 3.2em;
	}
	
	.toolbox button#btnInvitation{
		display:none;
	}

	.toolbox button { 
	    display: block;
		width: 80%;
		padding: .4rem;
		border: none;
		margin: 1rem auto;
		font-size: 2.2rem;
		/* background: rgba(255,255,255,0.23); */
		color: #000;
		border-radius: 3px;
		cursor: pointer;
		transition: .3s background;
}


	}
	.toolbox button:hover { 
	   background: rgba(0,0,0,0.5);
	   color: #000;
	}